<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<h3><%= link_to('Edit this task', edit_task_path) %></h3>
<h3><%= link_to("Delete #{@task.title}", tasks_path, method: :delete, data: {confirm: "Are you sure?" }) %></h3>
<h3><%= link_to('<== Go Back', tasks_path) %></h3>
